<h1>User info</h1>
<div>
  <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
  <p>name:<%= @book.user.name %></p>
  <p>introduction:<%= @book.user.introduction %></p>
  <p><%= link_to "profile update", user_path(current_user) %></p>
</div>



<%= render 'new', book: @books %>


<h1>Book detail</h1>

<div>

  <p>image:<%= image_tag @book.user.get_profile_image(100,100) %></p>
  <p>name:<%= link_to user_path(@users.id) do %><%= @book.user.name %><% end %></p>
  <p>Title:<%= link_to book_path(@book.id) do %><%= @book.title %><% end %></p>
  <p>Opinion:<%= @book.body %></p>

  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "destroy", book_path(@book), method: :delete %>
  <% end %>
</div>